/* card.css */
.card {
  width: 300px;
  background-color: #ededed;
  display: flex;
  min-height: 218px;
  flex-direction: column;
  transition: all 0.2s ease;
}

.card:hover {
  background-color: #fadde0;
}

@media (max-width: 720px) {
  .card {
    width: 40vw;
  }
}

@media (max-width: 500px) {
  .card {
    width: 80vw;
  }
}

.card > .card-header {
  padding: 10px;
  height: auto;
  margin: 0;
  background-color: #ff4958;
  color: #ededed;
}

.card-header > h3 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-header > h4 {
  margin: 0;
  font-weight: 300;
  font-size: 0.9em;
}

.card > .card-body {
  color: #383838;
  padding: 10px;
  flex-grow: 10;
}

.card-body > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.card-footer {
  color: #383838;
  padding: 10px;
  height: auto;
  margin: 0;
  border-top: 2px dashed #ff4958;
  overflow: scroll;
}

.card-footer > p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}
